# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Local config files
*.local

# Compiled model files (optional - remove if you want to keep them in Git)
*.h5
*.keras
